<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} -- Pokédex</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <div id="site_banner" class="site_banner">
            <nav>
                <a class="Home" href="/">Pokédex</a>
                <a class="List" href="/habitats/" style="margin-left: 30px;">Habitats</a>
                <a class="List" href="/pokemon/">Pokemon</a>
            </nav>
        </div>
        <div id="wrapper">
            <div id="main">
                <div id="main_header">
                    <header>{% block header %}{% endblock %}</header>
                </div>
                <div id="main_content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>