{% extends 'base.html' %}

{% block title %}{{pokemon_data.Name}}{% endblock %}

{% block header %}
  {% if dex_num|int < 10  %}
    <h1>#00{{dex_num}} - {{pokemon_data.Name}}:</h1>
  {% elif dex_num|int < 100  %}
    <h1>#0{{dex_num}} - {{pokemon_data.Name}}:</h1>
  {% else %}
    <h1>#{{dex_num}} - {{pokemon_data.Name}}:</h1>
  {% endif %}
{% endblock %}

{% block tabs %}
  <ul class="tabs">
    {% if pokemon_data["Forms"] %}
        {% for form in pokemon_data["Forms"] %}
          {% if form[0] == current_form|lower %}
            <li id="Selected">{{form[1]}}</li>
          {% else %}
            <li><a href="/pokemon/{{dex_num}}/{{form[0][-1]|upper}}">{{form[1]}}</a></li>
          {% endif %}
        {% endfor %}
    {% else %}
        <li id="Selected">{{pokemon_data["Name"]}}</li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <style>
    table{
      background-color: {{seconday_colour}};
      border-color: {{primary_colour}};
    }
    th,td{
      border-color: {{seconday_colour}};
    }
    th{
      background-color: {{background_colour}};
    }
  </style>
  <ul>
    <li>Name: {{pokemon_data["Name"]}}</li>
    {% if pokemon_data["Type"]|length == 2 %}
      <li>Type: {{pokemon_data["Type"][0]}}/{{pokemon_data["Type"][1]}}</li>
    {% else %}
      <li>Type: {{pokemon_data["Type"][0]}}</li>
    {% endif %}
    {% if pokemon_data["Ability"][1] == None %}
      <li>Ability: {{pokemon_data["Ability"][0]}}</li>
    {% else %}
      <li>Abilities: {{pokemon_data["Ability"][0]}}/{{pokemon_data["Ability"][1]}}</li>
    {% endif %}
    <li>Hidden Ability: {{pokemon_data["Ability"][2]}}</li>
    <li>Height: {{pokemon_data["Height"]}}m</li>
    <li>Weight: {{pokemon_data["Weight"]}}Kg</li>
    <li>Colour: {{pokemon_data["Colour"]}}</li>
    {% if pokemon_data["Egg Group"]|length == 2 %}
      <li>Egg Groups: {{pokemon_data["Egg Group"][0]}}/{{pokemon_data["Egg Group"][1]}}</li>
    {% else %}
      <li>Egg Group: {{pokemon_data["Egg Group"][0]}}</li>
    {% endif %}
    <li>Pokedex Entry:</li>
    <ul>
      {% if pokemon_data["Desc"]|length == 2 %}
        <li>Black 2 Entry: {{pokemon_data["Desc"][0]}}</li>
        <li>White 2 Entry: {{pokemon_data["Desc"][1]}}</li>
      {% else %}
        <li>Black 2/White 2 Entry: {{pokemon_data["Desc"][0]}}</li>
      {% endif %}
    </ul>
    <li>Habitats:</li>
    <ul>
      {% for habitat in pokemon_data["Habitats"] %}
        <li><a href="/habitats/{{habitat}}">{{habitat}}</a></li>
      {% endfor %}
    </ul>
    <li>Base Stats:</li>
    <table>
      <tr>
        <th colspan="2">Stat</th>
      </tr>
      {% for stat,value in pokemon_data["Stats"].items() %}
      <tr>
        <td style="background-color: {{stat_colours[loop.index0]}};">{{stat}}</td>
        <td style="background-color: {{stat_colours[loop.index0]}};">{{value}}</td>
      </tr>
      {% endfor %}
    </table>
    <li>Learnset:</li>
    <ul>
      <li>Level Up:</li>
      <table>
        <tr>
          <th>Level</th>
          <th>Move</th>
          <th>Type</th>
          <th>Catagory</th>
          <th>Power</th>
          <th>Acc.</th>
          <th>PP</th>
        </tr>
        {% for move in pokemon_data["Learnset"]["Level Up"] %}
        <tr>
          <td>{{move[1]}}</td>
          {% if (moves[move[0]].Catagory == 'Physical' or moves[move[0]].Catagory == 'Special') and moves[move[0]].Type in pokemon_data["Type"] %}
            <td><b>{{move[0]}}</b></td>
          {% else %}
            <td>{{move[0]}}</td>
          {% endif %}
          <td style="background-color: {{type_colours[moves[move[0]].Type].Background}};">{{moves[move[0]].Type}}</td>
          <td style="background-color: {{type_colours[moves[move[0]].Catagory].Background}};">{{moves[move[0]].Catagory}}</td>
          <td>{{moves[move[0]].Power}}</td>
          <td>{{moves[move[0]].Accuracy}}</td>
          <td>{{moves[move[0]].PP}}</td>
        </tr>
        {% endfor %}
      </table>
      <li>TM:</li>
      <table>
        <tr>
          <th>TM/HM</th>
          <th>Move</th>
          <th>Type</th>
          <th>Catagory</th>
          <th>Power</th>
          <th>Acc.</th>
          <th>PP</th>
        </tr>
        {% for tm in pokemon_data["Learnset"]["TM"] %}
        <tr>
          <td>{{tm}}</td>
          {% if (moves[tm_links[tm].Move].Catagory == 'Physical' or moves[tm_links[tm].Move].Catagory == 'Special') and moves[tm_links[tm].Move].Type in pokemon_data["Type"] %}
            <td><b>{{tm_links[tm].Move}}</b></td>
          {% else %}
            <td>{{tm_links[tm].Move}}</td>
          {% endif %}
          <td style="background-color: {{type_colours[moves[tm_links[tm].Move].Type].Background}};">{{moves[tm_links[tm].Move].Type}}</td>
          <td style="background-color: {{type_colours[moves[tm_links[tm].Move].Catagory].Background}};">{{moves[tm_links[tm].Move].Catagory}}</td>
          <td>{{moves[tm_links[tm].Move].Power}}</td>
          <td>{{moves[tm_links[tm].Move].Accuracy}}</td>
          <td>{{moves[tm_links[tm].Move].PP}}</td>
        </tr>
        {% endfor %}
      </table>
      <li>Egg Moves:</li>
      <table>
        <tr>
          <th>Parent</th>
          <th>Move</th>
          <th>Type</th>
          <th>Catagory</th>
          <th>Power</th>
          <th>Acc.</th>
          <th>PP</th>
        </tr>
        {% for egg in pokemon_data["Learnset"]["Egg"] %}
        <tr>
          <td>
            {% for parent in egg[1] %}
                <a href="/pokemon/{{parent}}">{{parent}}, </a>
            {% endfor %}
          </td>
          {% if (moves[egg[0]].Catagory == 'Physical' or moves[egg[0]].Catagory == 'Special') and moves[egg[0]].Type in pokemon_data["Type"] %}
            <td><b>{{egg[0]}}</b></td>
          {% else %}
            <td>{{egg[0]}}</td>
          {% endif %}
          <td style="background-color: {{type_colours[moves[egg[0]].Type].Background}};">{{moves[egg[0]].Type}}</td>
          <td style="background-color: {{type_colours[moves[egg[0]].Catagory].Background}};">{{moves[egg[0]].Catagory}}</td>
          <td>{{moves[egg[0]].Power}}</td>
          <td>{{moves[egg[0]].Accuracy}}</td>
          <td>{{moves[egg[0]].PP}}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="7">This pokémon has no egg moves</td>
        </tr>
        {% endfor %}
      </table>
      <li>Tutor Moves:</li>
      <table>
        <tr>
          <th>Cost</th>
          <th>Move</th>
          <th>Type</th>
          <th>Catagory</th>
          <th>Power</th>
          <th>Acc.</th>
          <th>PP</th>
        </tr>
        {% for move in pokemon_data["Learnset"]["Tutor"] %}
        <tr>
        {% if tutor_moves[move]["Cost"] != None %}
          <td style="background-color: {{tutor_moves[move]['Colour']}};">{{tutor_moves[move]["Cost"]|join(' ')}} Shards</td>
        {% else %}
          <td>{{tutor_moves[move]["Cost"]}}</td>
        {% endif %}
        {% if (moves[move].Catagory == 'Physical' or moves[move].Catagory == 'Special') and moves[move].Type in pokemon_data["Type"] %}
          <td><b>{{move}}</b></td>
        {% else %}
          <td>{{move}}</td>
        {% endif %}
        <td style="background-color: {{type_colours[moves[move].Type].Background}};">{{moves[move].Type}}</td>
        <td style="background-color: {{type_colours[moves[move].Catagory].Background}};">{{moves[move].Catagory}}</td>
        <td>{{moves[move].Power}}</td>
        <td>{{moves[move].Accuracy}}</td>
        <td>{{moves[move].PP}}</td>
        </tr>
        {% endfor %}
      </table>
    </ul>
    {% if pokemon_data["Evolution"]["From"] != None or pokemon_data["Evolution"]["To"] != None %}
      <li>Evolutions:</li>
      <ul>
        {% if pokemon_data["Evolution"]["From"] != None %}
        <li>Evolves from: <a href="/pokemon/{{pokemon_data['Evolution']['From']}}">{{pokemon_data["Evolution"]["From"]}}</a></li>
        {% endif %}
        {% if pokemon_data["Evolution"]["To"] != None %}
        <li>Evolves to:</li>
        <ul>
          {% for evo in pokemon_data["Evolution"]["To"] %}
          <li><a href="/pokemon/{{evo}}">{{evo}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </ul>
    {% endif %}
  </ul>
{% endblock %}